<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Turn on if you want it to vibrate only for notifications on the lockscreen, not just notification center in general.</string>
			<key>label</key>
			<string>Notification Types</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.drewsdunne.discreet/settingsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.drewsdunne.discreet</string>
			<key>key</key>
			<string>onlyLS</string>
			<key>label</key>
			<string>Lockscreen Only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow on Twitter</string>
			<key>action</key>
			<string>follow:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Support/Feedback</string>
			<key>action</key>
			<string>emailSupport:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Go to Website</string>
			<key>action</key>
			<string>visitWebsite:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via PayPal</string>
			<key>action</key>
			<string>donate:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Discreet</string>
</dict>
</plist>
