Package: com.drewsdunne.discreet
Name: Discreet
Depends: mobilesubstrate, libactivator, firmware (>= 7.0)
Version: 1.0.2
Architecture: iphoneos-arm
Description: Check your phone for pending notifications without looking at it
Maintainer: drewsdunne
Author: drewsdunne
Section: Tweaks
