Package: com.drewsdunne.discreet
Name: Discreet
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Discreetly check notifications.
 Activator Listener that activates if there are pending notifications. Configure all settings via Activator. Version re-compiled by @insanj.
Maintainer: drewsdunne
Author: drewsdunne
Section: Tweaks
Version: 0.1.1