Package: com.drewsdunne.discreet
Name: Discreet
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: drewsdunne
Author: drewsdunne
Section: Tweaks
Version: 0.0.1-5
Installed-Size: 52
